    <div class="navbar visible-md visible-lg">
      <br><br><br><br>
      <ul class="nav nav-pills nav-stacked">
        {% for category in site.categories %}
         <li><a href="#{{ category | first }}" data-toggle="tab">{{ category[0] }}</a></li>
           <div class="tab-pane" id="{{ category[0] }}">
          <div class="list-group">
            <!--<h2 class="center">{{ category[0] }}</h2>-->     <!--原来aside2上面的大标题-->
            {% for post in category[1] %}
            <a href="{{ post.url }}" class="list-group-item-lay pjaxlink">{{post.title}}</a>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <li><a class="pjaxlink" href="/pages/archive.html">{{ site.locals.archive }}</a></li>
        <li><a class="pjaxlink" href="/pages/about.html">{{ site.locals.about }}</a></li>
        <!-- <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags fa-lg"></i></a></li>
        <li><a class="pjaxlink" href="/pages/archive.html"><i class="fa fa-archive fa-lg"></i></a></li>
        <li><a class="pjaxlink" href="/pages/about.html"><i class="fa fa-user fa-lg"></i></a></li> -->
      </ul>
</div>
<button id="nav_btn" class="navbutton">
  <i class="fa fa-lg fa-navicon"></i>
</button>
